<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/contact.css">
    <title>Onlinejobs Marketplace | Contact</title>
</head>
<body>
    <nav onclick="location.href='/'">
        <div><img src="/images/logo.svg" alt=""></div>
    </nav>
    <section id="content">
        <div id="content-right">
            <div class="right-heading">
                <h2>Get in touch</h2>
                <p>Find us through social media and other communication platforms. We want to hear your suggestions and thoughts</p>
            </div>
            <div class="right-child">
                <h3>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <span>Email</span>
                </h3>
                <p>Any time between 9am - 5pm</p>
                <div>
                    <div class="email">
                        <span class="email-type">Get help</span>
                        <a href="mailto:help@onlinejobsmarketplace.com">help@onlinejobsmarketplace.com</a>
                    </div>
                    <div class="email">
                        <span class="email-type">Speak to an administrator</span>
                        <a href="mailto:admin@onlinejobsmarketplace.com">admin@onlinejobsmarketplace.com</a>
                    </div>
                    <div class="email">
                        <span class="email-type">Leave a comment</span>
                        <a href="mailto:business@onlinejobsmarketplace.com">Business</a>
                    </div>
                </div>
            </div>
            <div class="right-child">
                <h3>
                    <span><i class="fa-brands fa-whatsapp"></i></span>
                    <span>WhatsApp</span>
                </h3>
                <p>24 / 7 responses</p>
                <div>
                    <a href="https://chat.whatsapp.com/F8VMbpC9Aqz9npLouakInd"> WhatsApp community</span></a>
                </div>

            </div>
            <div class="right-child">
                <h3>
                    <span><i class="fa-solid fa-globe"></i></span>
                    <span>Our Website</span>
                </h3>
                <p>Share with friends</p>
                <div>
                    <a href="/">https://onlinejobsmarketplace.com/</span></a>
                </div>
            </div>
            <div class="right-foot">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div id="content-left">
            <h2>Leave a comment or suggestion</h2>
            <p>Have something to say to us? Leave a comment here.</p>
            <form action="/comment" method="post">
                <label for="name">
                    <p>Name</p>
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </label>
                <label for="email">
                    <p>Email</p>
                    <input type="email" name="email" id="email" placeholder="Your email address">
                </label>
                <label for="phone">
                    <p>Your phone number</p>
                    <input type="tel" name="phone" id="phone" placeholder="Your phone number i.e +44712345698">
                </label>
                <label for="message">
                    <p>How can we help you?</p>
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Your message here"></textarea>
                </label>
                <button>send</button>
            </form>
        </div>
    </section>
</body>
</html>