<footer>
    <div class="links">
        <div class="link-container">
            <div class="link">
                <h2>About Us</h2>
            </div>
            <div class="link"><a class="link-title">Onlinejobs Community</a></div>
            <div class="link"><a href="/terms-conditions"> Terms of Service</a></div>
            <div class="link"><a class="link-title" href="/contact">Feedback</a></div>

        </div>
        <div class="link-container">
            <div class="link">
                <h2>Support</h2>
            </div>
            <div class="link"><a href="/contact">Help and Support</a></div>
            <div class="link"><a class="link-title">Trust & Safety</a></div>
            <div class="link"><a class="link-title">Blog</a></div>

        </div>
        <div class="link-container">
            <div class="link">
                <h2>More from Us</h2>
            </div>
            <div class="link"><a class="link-title">Our Workspace</a></div>
            <div class="link"><a class="link-title" href="/dashboard/referrals">Referrals</a></div>
            <div class="link">
                <p class="link-title"><a href="/training">Apply for training</a></p>
            </div>
        </div>
    </div>
    <div class="socials">
        <div></div>
        <div class="social-icons">
            <div class="social-media"><i class="fa-brands fa-facebook"></i></div>
            <div class="social-media"><i class="fa-brands fa-x-twitter"></i></div>
            <div class="social-media"> <a href="https://instagram.com/workhub_writers" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a></div>
            <div class="social-media"><a href="https://www.tiktok.com/@workhubwriters" target="_blank"><i
                        class="fa-brands fa-tiktok"></i></a></div>
        </div>
    </div>
    <hr>
    <center><small>© Onlinejobs Marketplace <span class="year"></span></small></center>
</footer>