<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <div class="login-logo">
            <!--<img src="../images/public/logo.png" alt="">-->
            <img src="/logo.png" alt="">
        </div>
        <div class="login-form">
            <form action="/account/login" method="post">
                <p class="error"></p>
                <h3>Enter Login Details</h3>
                <div class="form-group">
                    <label for="username">Email : <br />
                        <input type="email" name="email" id="username" placeholder="Enter email " required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="password">Password : <br />
                        <input type="password" name="password" id="password" placeholder="Enter Password" required>
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="user-login" >
                </div>
                <div class="form-group">
                    <p>Don't have an account? <span><a href="/signup">Sign up.</a></span></p>
                    <p>Forgot password? <span><a href="/reset">Reset password</a></span></p>
                </div>

            </form>
        </div>
    </div>
</body>
</html>