<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkHub Writers : Join Us</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/signup.css">
    <script src="/scripts/signup.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <nav>
        <div id="nav-brand">
            <div onclick="location.href='/'">
                <img src="logo.srv" alt="" id="logo-image" >
            </div>
        </div>
        <div>
            <h3>
                Join us
            </h3>
        </div>
    </nav>
    <section id="steps">
        <section class="step" id="one" step="1">
            <h1>Join as a writer or a client</h1>
            <div class="step-one-options">
                <div class="step-one-option">
                    <div class="one-top">
                        <img src="/images/writing-icon.jpg" alt="">
                        <div class="selected"></div>
                    </div>
                    <h3>I am a writer, looking for a job</h3>
                </div>
                <div class="step-one-option">
                    <div class="one-top">
                        <img src="/images/employer.png" alt="">
                        <div class="selected"></div>
                    </div>
                    <h3>I am a client, looking for someone to hire</h3>
                </div>
            </div>
            <div class="next">
                <button disabled id="to-step-two">continue</button>
            </div>
            <div class="link">
                <span> Have an account? </span><a href="/login">Login</a>
            </div>
        </section>
        <section class="step hidden" id="two" step="2">
            <form action="" id="basic-info">
                <h1>Give your basic information</h1>
                <div class="information-form">
                    <label for="name">
                        <p>Name</p>
                        <input type="text" name="name" id="name" required>
                    </label>
                    <label for="email">
                        <p>Email</p>
                        <input type="email" name="email" id="email" required>
                    </label>
                    <label for="phone">
                        <p>Phone</p>
                        <input type="tel" name="phone" id="phone" required>
                    </label>
                </div>
                <div class="next">
                    <button >continue</button>
                </div>
            </form>
            <div class="link">
                <span> Have an account? </span><a href="/login">Login</a>
            </div>
        </section>
        <section class="step hidden" id="three" step="3">
            <h1>Help us protect your information</h1>
            <form action="" id="password-form" class="information-form">
                <label for="password">
                    <p>Password</p>
                    <input type="password" name="password" id="password" required>
                </label>
                <label for="confirm-password">
                    <p>Confirm your password</p>
                    <input type="password" name="pwd" id="pwd" required>
                </label>
                <div class="password-status">
                    <div class="pwd-strength pwd-message">
                        <i class="fa-regular fa-circle"></i> <span>Enter a strong password</span>
                    </div>
                    <div class="pwd-match pwd-message">
                        <i class="fa-regular fa-circle"></i> <span>Match the passwords</span>
                    </div>
                </div>
                <div class="next">
                    <button >continue</button>
                </div>
            </form>
        </section>
        <section class="step hidden" id="four" step="4">
           
            <h1>Accept Terms and conditions</h1>
            <div class="terms-and-conditions">
                <label for="accept-tnc">
                    <input type="checkbox" name="accept-tnc" id="accept-tnc">
                    <span>by continuing I accept the <a href="/terms-conditions">terms and conditions</a> of WorkHub writers</span>
                </label>
                <div class="next">
                    <button id="create-btn" disabled>continue</button>
                </div>
            </div>
        </section>
        <section class="step hidden" id="five" step="5">
            <div class="loader">
                <img src="/images/loader.svg" alt="">
            </div>
            <div class="error hidden">
                <h1 style="color: red">
                    <i class="fa-regular fa-circle-xmark"></i> Error
                </h1>
                <code id="error-message">

                </code>
                <a href="/signup"> Try again</a>
            </div>
            <div class="success hidden">
                <h1>
                    <i class="fa-solid fa-circle-check"></i>
                </h1>
            </div>
        </section>
    </section>
    <footer>
        <div id="step-info">

        </div>
        <div class="steps-progress">
            <div class="step-count active" text="Choose account type">
                1
            </div>
            <div class="step-count" text="Enter your details">
                2
            </div>
            <div class="step-count" text="Secure your account">
                3
            </div>
            <div class="step-count" text="Terms and conditions">
                4
            </div>
            <div class="step-count" text="Complete creating account">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </footer>
</body>
</html>